html {
  font-family: 'Times New Roman', Times, serif;
  font-size: 62.5%;
}

p, ul, ol, dl, blockquote {
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-bottom: 12px;
}

article {
  max-width: 620px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

h1, h2, h3, h4 {
  font-family: 'Ubuntu', Arial, sans-serif;
}

h1 {
  font-size: 3rem;
  line-height: 3.1rem;
  margin: 20px 0;
}

h2 {
  font-size: 2.3rem;
  line-height: 2.4rem;
  margin: 16px 0;
}

h3 {
  font-size: 2.1rem;
  margin: 15px 0 15px 0;
}

figcaption {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 1.5rem;
  margin-top: 2px;
  margin-bottom: 20px;
  text-align: right;
}

figure#byline {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0.5px;
}

span {
  font-style: italic;
}

blockquote {
  border-left: gray solid 4px;
  padding: 20px;
  margin-left: 30px;
}

ol {
  list-style-position: inside;
}

div {
  background-color: #ccc;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  max-width: 620px;
  margin-right: auto;
  margin-left: auto;
}